header {
  min-height: 59px;

  .header-content {
    height: 100%;
    margin-top: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 62px;
      height: 62px;
    }

    .header-links {
      display: flex;
      align-items: center;
      column-gap: 51px;
      nav {
        .nav-list {
          display: flex;
          column-gap: 67px;
        }
      }

      .social-icons-list {
        display: flex;
        column-gap: 21px;

        li {
          transition: 1s ease;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
    .burger-menu {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  header {
    .header-content {
      margin-top: 20px;

      .header-links {
        display: none;
      }

      .burger-menu {
        display: block;
      }
    }
  }
}
